API_ID=29102321
API_HASH=b5ae3caf92f592cef4b1dcc29560aae9
BOT_TOKEN=6467551376:AAH6ImuMmJjpYWwdOuNAiyEnAndCTr_vZV8
LOGGER_ID=-1001987232453
MONGO_DB_URI=mongodb+srv://Ritik:Ritikraj@ritikraj.cciyuco.mongodb.net/?retryWrites=true&w=majority
OWNER_ID=6144169047
STRING_SESSION=BQG8EPEAiyqy5nBVgFElBeuXTnqVdUAh1_LhqGrmXXKpq6OMXzg6nrVGSD7NAieVjt2GAXBGeqPQqxgpakNTuxeMJGK5F5LJuV2j46yYqP-Ng3uPyfiKsSTmBdIPXY2gZiaZXIWOrUEo3PFWywrdSM5H3wFbp1TePegdkUws9cggKB5f3viRUUZPY75nA35l4F4OZZMUtM2_3cSJXx025_bS4rZdiQcrZzWSpSYs45wlquiEkWx_oaSWCAWwQAejouANiChII4tjx-KC9uXUASTyrbabu33vhZlwtNGErdvE2FQDQcGPlhkzmfE5nkFMrt7vbL0J2jUs-WCcADrd5o00iF-X6AAAAAFOJ_S3AA
